body {
    margin: 0;
    padding: 30px 8px;
    

    background-color: #6495ed;

    
    font-family: "Times New Roman", Times, serif;

   
    color: white;
}


h1 {
    margin: 0;
    font-size: 50px;
    font-weight: bold;
    color: white;
}


.color {
    margin-top: 35px;
    font-size: 25px;
    color: orangered;
}


.font-size {
    margin-top: 110px;
    font-size: 40px;
    color: white;
}


.font-weight {
    margin-top: 110px;
    font-size: 32px;
    font-weight: bold;
    color: white;
}


.font-family {
    margin-top: 35px;
    font-size: 28px;
    font-family: cursive;
    font-style: italic;
    color: white;
}


.text-align {
    margin-top: 25px;
    margin-right: 20px;
    font-size: 20px;
    text-align: right;
    color: white;
}